* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", AppleSDGothicNeo,
    "Apple SD Gothic Neo", AppleSDGothicNeo-Light,
    HelveticaNeue-Light, "Malgun Gothic",
    "맑은 고딕", sans-serif;
  color: #212529;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

input,
button {
  font-family: "Noto Sans KR", AppleSDGothicNeo,
    "Apple SD Gothic Neo", AppleSDGothicNeo-Light,
    HelveticaNeue-Light, "Malgun Gothic",
    "맑은 고딕", sans-serif;
}
