* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", AppleSDGothicNeo,
    "Apple SD Gothic Neo", AppleSDGothicNeo-Light,
    HelveticaNeue-Light, "Malgun Gothic",
    "맑은 고딕", sans-serif;
  color: #212529;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

input,
button {
  font-family: "Noto Sans KR", AppleSDGothicNeo,
    "Apple SD Gothic Neo", AppleSDGothicNeo-Light,
    HelveticaNeue-Light, "Malgun Gothic",
    "맑은 고딕", sans-serif;
}

nav.navigation,
div.searchbar-container,
div.button-container {
  display: flex;
  align-items: center;
}

div.navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}

nav.navigation {
  width: 60%;
  justify-content: space-between;
}

div.left-side-container {
  display: flex;
  align-items: center;
}

img.logo {
  width: 128px;
  margin-right: 36px;
}

div.searchbar-container {
  border: 1px solid #ccc;
  padding: 10px 16px;
  border-radius: 8px;
  width: 400px;
  justify-content: space-between;
}

div.searchbar-container input {
  border: none;
  width: 85%;
}

div.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #ccc;
}

div.button-container button:first-child {
  margin-right: 12px;
}

div.button-container button span {
  font-weight: 900;
  margin-left: 8px;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.15rem;
  font-weight: 900;
}

div.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

main.content {
  width: 60%;
}
